@import "foundation";

.no-bg {
  background: transparent !important;
}

.custom-pb {
  padding-bottom: 10px !important;
}

.tiny-text {
  font-size: 12px;
}

.text-uppercase {
  text-transform: uppercase;
}

.basic-link {
  text-decoration: underline;
  color: #000;
}

.main-sub-heading {
  // color: $grey;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}

.color-grey {
  color: $grey;
}

.color-red {
  color: #e74c3c;
}

.uppercase {
  text-transform: uppercase;
}

.link {
  color: $grey;
  text-decoration: underline
}

.main-heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}

.main-body-p {
  color: $grey;
  line-height: (22/14);
}

.decorative-line {
  background: $grey;
  height: 2px;
}

.item-name {
  text-transform: uppercase;
  color: $accent;
}

.item-price {
  color: $grey;
}

// table.button {
//   margin-bottom: 0;

//   table {
//     td {
//       padding: map-get($button-padding, default);

//       a {
//         padding: 0px;
//       }
//     }
//   }
// }